{% extends 'main.html' %}

{% block content %}

<style>
    .user_profile{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="user_profile">
    <div>
        {% include 'topics_component.html' %}
    </div>

    <div>
        <h1>{{user.username}}</h1>
        <div>
        <h3>Rooms owned</h3>
        {% for room in owner %}
        <p><a  href="{% url 'room' room.id %}">● {{room.name}}</a></p>
        {% endfor %}
        <h3>Rooms joined</h3>
        {% for room in rooms %}
       
        {% include 'feed_component.html' %}
        <hr>
        {% endfor %}
        </div>
    </div>

    <div>
        {% include 'activity_component.html' %}
    </div>
</div>


{% endblock %}