{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'topics_component.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.name}}</h3>
            <p>{{user.email}}</p>
            {% if user == request.user %}
            <a href="{% url 'editUser' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
            <a href="{% url 'userProfile' user.id %}?q=followers" class="btn btn--main btn--pill">{{user.followers.count}} followers</a>
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{user.bio}}
            </p>
          </div>
        </div>
        <div>
          {% if user != request.user %}
          <form method="post" action="{% url 'userProfile' user.id %}?q={% if is_following %}unfollow{% else %}follow{% endif %}">
            {% csrf_token %}
          <button type="submit" class="btn btn--main btn--pill">
            {% if is_following %} unfollow {% else %} follow {% endif %}
          </button>
          </form>
          {% endif %}
        </div>
        <div class="roomList__header">
          <div>
            <h2>Followed by</a>
            </h2>
          </div>
        </div>
          {% for follower in followers %}
          <div class="roomListRoom">
            <div class="roomListRoom__header">
              <a href="{% url 'userProfile' follower.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                  <img src="{{follower.avatar.url}}" />
                </div>
                <span>@{{follower.username}}</span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'activity_component.html' %}
      <!-- Activities End -->
    </div>
  </main>

  {% endblock %}