{% extends 'main.html' %}
{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="home-container">
    <div>
        {% include 'topics_component.html' %}
    </div>
    <div>
    <a href="{% url 'createRoom' %}"> Create Room</a>
    <h3>{{room_count}} Rooms available</h3>
    <hr>
    {% for room in rooms %}
    <div>
        {% include 'feed_component.html' %}
    </div>
    <hr>
    {% endfor %}
    </div>
    <div>
        {% include 'activity_component.html' %}
        </div>
</div>
{% endblock %}